body {
    font-family: Arial, sans-serif;
    background-color: black;
    text-align: center;
}

.complaint-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.complaint {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
}


textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.back-button {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background-color: #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    color: #333;
}

.back-button:hover {
    background-color: #999;
}

.response-button-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.response-button {
    display: block;
    width: 200px;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
}



.response-button,
.back-button {
    display: inline-block;
    width: 200px;
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
}

.response-button:hover,
.back-button:hover {
    background-color: #942916;
}