/* Global styles */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Form container */
.form-container {
    background-color: black;
    padding: 20px 20px;
    text-align: center;
    height: 500px;
}

/* Labels and inputs in the same row */
.form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; /* Increased margin for more spacing */
    margin-left: -30px;
    margin-right: -30px;
}

label {
    flex: 1;
    font-size: 18px; /* Larger font size */
    text-align: left;
}

input {
    flex: 2;
    padding: 8px 20px; /* Increased padding for larger input fields */
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px; /* Larger font size */
}

/* Submit button */
.submit-button {
    background-color: gray;
    color: white;
    padding: 10px 30px; /* Increased padding for larger button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Larger font size */
    margin-bottom: 15px;
}

/* Red buttons */
.red-button {
    background-color: red;
    color: white;
    padding: 8px 30px; /* Increased padding for larger buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Larger font size */
}

/* Adjust positioning of red buttons */
.left-button {
    float: left;
    margin-right: 10px;
}

.right-button {
    float: right;
    margin-left: 10px;
}
